@import url(./__wrapper/page__wrapper.css);

.page{
    background-color: #2A2C2F;
    font-family: "Inter", sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    color: white;
}

@media screen and (max-width: 1024px){
    .page{
        max-width: 1024px;
    }
}

@media screen and (max-width: 768px) {
    .page{
        max-width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .page{
        max-width: 320px;
    }
}
