.footer__links-container{
    display: flex;
}

@media screen and (max-width: 320px) {
    .footer__links-container{
        display: flex;
        flex-direction: column;
        margin-bottom: 48px;
    }
}