.footer__links-container{
    display: flex;
}

@media screen and (max-width: 320px) {
    .footer__links-container{
        flex-direction: column;
        margin: 0 0 48px 0;
        width: calc(100% - 32px);
    }
}