.cover__overlay{
    height: 100%;
    width: 100%;
    background: #2A2C2F;
    opacity: .3;
    transition: opacity .4s linear;
    position: absolute;
}

.cover:hover .cover__overlay{
    opacity: .8;
    transition: opacity .4s linear;
}