@import url(./__links-container/footer__links-container.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);


.footer{
    display: flex;
    justify-content: space-between;
    margin: 92px 0 24px;
}

@media screen and (max-width: 1024px) {
    .footer{
        padding: 0 48px;
        max-width: 1024px;
    }
}

@media screen and (max-width: 768px) {
    .footer{
        padding: 0 24px;
        max-width: 768px;
    }
}

@media screen and (max-width: 400px) {
    .footer{
        margin: 64px 0 24px;
        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {
    .footer{
        padding: 0 16px;
        max-width: 320px;
    }
}