.cover__title{
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    margin-bottom: 32px;
    text-decoration: none;
    text-align: center;
    color: white;
    z-index: 1;
}

@media screen and (max-width: 320px) {
    .cover__title{
        max-width: 100%;
        font-size: 32px;
        line-height: 35px;
    }
}